<h1>Search</h1>

<div class="search-group">
 <%= form_tag do %>
        <%= text_field_tag :keyword, params[:keyword], {value:"#{@keyword}", class:"search-input"} %>
    <%= button_to "Search", class:"search-btn"%>
<% end %>
</div>
<%= render "shopper/form", products: @products %>